/* google font */

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*shared all style */
.primay-color{
  color: #FD6E0A;
}
.dark-2{
  color: #474747;
}
.dark-3{
  color: #757575;
}
.primary-bg{
  background-color: #FFF8F3;
}
.section-title{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-descrption{
  font-size: 18px;
   color: #757575;
}
.text-center{
  text-align: center;
}
/* Header style  */
header{
   background-image: url(../images/developer.png), url(../images/header_bg.png);
   background-repeat: no-repeat;
   background-position: top left, bottom right;
}
/* Navbar style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;

}
.nav-title{
  font-weight: 800;
  font-size: 45px;
  cursor: pointer;
}
nav ul{
    display: flex;
    align-items: center;
    
   
}
nav ul li{
  list-style: none;
  margin:20px ;
}
nav li a {
   text-decoration: none;
   font-size: 20px;

}
.btn{
  color: white;
  background-color: #FD6E0A;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
}
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 130px;
 
}
.banner-content{
  max-width: 580px;
}

.banner-grating{
  font-size: 45px;
  font-weight: 600;
}
.banner-title{
  font-size: 85px;
  font-weight: 800;
}
.banner-profile-pic{
  width: 580px;
}
.btn-contact{
  background-color: white;
  color: black;
  border: 1px solid #FD6E0A;
}
 
/* Main style */
main{
  max-width: 1140px;
  margin: 0 auto;
}
main section{
  margin-top: 130px;
  margin-bottom: 130px;
}
/* About  section */
.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}
.about-items{
   display: flex;
   justify-content: space-around;
 
}

.item-title{

}
.item-description{
  font-weight: bolder;
}

/* skills-container */
.skills-container{
  display: flex;
  gap: 24px;
  justify-content: space-around;
  
}
.skill{
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.skill-description{
  text-align: justify;
}