/* google font */

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*shared all style */
.primay-color{
  color: #FD6E0A;
}
.dark-2{
  color: #474747;
}
/* Header style  */
header{
   background-image: url(../images/developer.png), url(../images/header_bg.png);
   background-repeat: no-repeat;
   background-position: top left, bottom right;
}
/* Navbar style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;

}
.nav-title{
  font-weight: 800;
  font-size: 45px;
  cursor: pointer;
}
nav ul{
    display: flex;
    align-items: center;
    
   
}
nav ul li{
  list-style: none;
  margin:20px ;
}
nav li a {
   text-decoration: none;
   font-size: 20px;

}
.btn{
  color: white;
  background-color: #FD6E0A;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
}
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 130px;
 
}
.banner-content{
  max-width: 580px;
}

.banner-grating{
  font-size: 45px;
  font-weight: 600;
}
.banner-title{
  font-size: 85px;
  font-weight: 800;
}
.banner-profile-pic{
  width: 580px;
}